@import "tailwindcss";



@layer base{

    .body{

    background-color: #4caf50;
    @apply w-full h-full font-[sans];

}
    @font-face{
    font-family: 'Funnel Display, sans';
    src: url('/fonts/Funnel/FunnelDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-optical-sizing: auto;
    }
    @font-face {
        font-family: 'Bungee Tint, sans';
        src: url('/fonts/Bungee/Bungee_Shade/BungeeTint-Regular.ttf') format ('truetype');
        font-weight: normal;
        font-style: normal;
        font-optical-sizing: auto;
        color:#BE3939;
    }
    @font-face {
        font-family: 'Host Grotesk, sans';
        src: url('/fonts/Grotesk/HostGrotesk-SemiBold.ttf')
        format ('truetype');
        font-weight: normal;
        font-style: normal;
        font-optical-sizing: auto;
    }



}

.bg-main{
    @apply h-screen bg-gradient-to-r from-[#f5e6d3] to-[#4caf50];

}


main {
  display: flex;
  height: 100vh; /* ocupa toda la pantalla */
}

main .left {
  flex: 1;
  background: linear-gradient(to bottom, #f5e6d3, #f4a261); /* beige → naranja */
}

main .right {
  flex: 1;
  background: linear-gradient(to bottom, #a5d6a7, #4caf50); /* verde pastel → verde medio */
}
