 @import "tailwindcss"; 


html { font-size: 16px; }

@theme {
  --breakpoint-*: initial;
  --breakpoint-tb:60rem;



  --breakpoint-ltp: 86rem;
  --breakpoint-det: 89rem;
}

.cigar-vitola:hover {

  cursor: url('../../static/cursor/cursor-medida.webp') 0 0, pointer; 
  /* @apply   border-2 border-amber-300; */
    /* border-color: #D5D1CD;
    border-width: 9px; */

}

/* en el click mostrar el componente  */
.display-lapiz-amarillo{


  display: inline-flex;
  background-image: url('../../static/cursor/refLapiz.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 25;
  position: relative;
  top:0;
  height: 210px;
  left: 20px;


}


.display-none{
  display: none;
}